* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	list-style-type: none;
	font-family: Roboto, Tahoma, "Trebuchet MS";
	text-decoration: none;
}

body{
	background:#f0f0f0;
}
.btn{
	background:#06c;
	border:1px solid #036;
	font:14px tahoma, arial, helvetica;
	color:#fff;
	text-shadow:#000 0 1px 0;
	text-decoration:none;
}
.conteudo{width:1000px; margin:0 auto;}
.center{width:1000px; margin:0 auto;}
.topo h1 {
	font-size: 45px;
	color: #5b5b5b;
	font-weight: normal;
	width: 100%;
	text-align: center;
	margin-bottom: 18px;
}
#menu-principal{
	background:#4C4C4C;
	float:left;
	width:100%;
	margin-bottom: 18px;
}
#menu-principal ul li{
	float:left;
	position:relative;
}
#menu-principal ul li a{
	float:left;
	display:block;
	font-size:16px;
	color:white;
	line-height:40px;
	padding:0 10px;
}
#menu-principal ul li a:hover{
	background:#3E3E3E;
}
.publicacoes{float:left; width:100%;}
.publicacoes li{
	float:left;
	width:24.25%;
	margin-right:1%;
	margin-bottom:15px;
	height:300px;
}
.publicacoes li .img-pub{
	float:left;
	width:100%;
	margin-bottom:10px;
}
.publicacoes li .img-pub img{
	width: 400px;
	height: 110px;
}
.publicacoes li .img-pub img{width:100%;}
.publicacoes li:nth-child(4n+0){margin-right:0;}
.publicacoes li span a{
	float:left;
	width:100%;
	font-size:17px;
	color:#595959;
	margin-bottom:8px;
}
.publicacoes li span a:hover{color:#333;}
.publicacoes li p{font-size:15px; color:#595959;}

/*PAGINA SINGLE*/
div#all{
	float:left;
	width:1000px;
	padding:5px;
}
div#all h2{font:19px Georgia, tahoma, arial; color:#06c; float:left; margin-bottom:10px;}
div#all div#comentarios{
	float:left;
	width:100%;
}
div#comentarios div.comentario{
	float:left;
	padding:6px;
	width:1000px;
	background:#f8f8f8;
	margin-bottom:6px;
	border:1px solid #ccc;
}
div.comentario span, div.comentario p{
	float:left;
	width:100%;
	font:15px Tahoma, Arial, Helvetica, sans-serif;
	color:#069;
	margin-bottom:5px;
}
div.comentario p{font-size:14px; color:#333; margin-bottom:2px; margin-top:3px;}
div#comentarios div.comentario:hover{background:#fff;}
div.comentario a.resp.btn{
	float:right;
	width:85px;
	text-align:center;
	padding:4px 0;
	font-size:13px;
	margin-bottom:5px;
}
div.comentario a.resp:hover{
	background:#333;
	cursor:pointer;
}
div#comentarios div.comentario.resp{
	float:right;
	width:95%;
	margin-top:10px;
}
div#comentarios div.comentario.resp p{margin-bottom:10px;}

div#all a#load.btn{
	float:left;
	padding:6px;
	margin:6px 0;
	font-size:14px;
}
div#all a#load.btn:hover{background:#333;}

div#all div#formulario{
	float:left;
	width:1000px;
	padding:10px;
	background:#ccc;
}
div#formulario label{
	float:left;
	display:block;
	width:100%;
	margin-bottom:6px;
}
div#formulario label span{
	float:left;
	width:100%;
	margin-bottom:4px;
	font:14px tahoma, arial, helvetica;
	color:#333;
}
div#formulario label input[type=text], div#formulario label textarea{
	padding:4px;
	border:1px solid #666;
	background:#fff;
	font:15px "Trebuchet MS", tahoma, arial;
	color:#666;
	outline:none;
	width:100%;
}
div#formulario label textarea{
	resize:none;
	height:100px;
}
div#formulario input[type=button]{
	padding:4px 6px;
	font-size:15px;
}
div#formulario input[type=button]:hover{background:#333; cursor:pointer;}
div#erros{
	float:left;
	width:100%;
}

.imagem-destaque img{
	float: left;
	width: 40%;
	margin-right: 1%;
}
.info-destaque h1 {
	font-size: 32px;
	color: #5B5B5B;
	font-weight: normal;
	margin-bottom: 10px;
}

.erro{float:left; width:99%; margin-bottom:4px; background:#FFFFB9; border:1px solid #333; padding:6px; font:14px tahoma, arial, sans-serif; color:#666;}
.ok{float:left; width:99%; margin-bottom:4px; background:#C6FDCE; border:1px solid #07A31F; padding:6px; font:14px tahoma, arial, sans-serif; color:#07A31F;}
